<!DOCTYPE html>
<html lang="en"><!--

fxmastodon - made by someguy123
github.com/Someguy123/fxmastodon

--><head>
<link rel="canonical" href="{{ full_url }}"/>
<meta property="theme-color" content="undefined"/>
<meta property="twitter:card" content="player"/>
<meta property="twitter:site" content="{{ username }}"/>
<meta property="twitter:creator" content="{{ username }}"/>
<meta property="twitter:title" content="{{ display_name }}"/>
<meta http-equiv="refresh" content="0;url={{ full_url }}"/>
<meta property="twitter:player:stream:content_type" content="video/mp4"/>
<meta property="twitter:player:height" content="{{ img_height }}"/>
<meta property="twitter:player:width" content="{{ img_width }}"/>
<meta property="og:video" content="{{ img_url }}"/>
<meta property="og:video:secure_url" content="{{ img_url }}"/>
<meta property="og:video:height" content="{{ img_height }}"/>
<meta property="og:video:width" content="{{ img_width }}"/>
<meta property="og:video:type" content="video/mp4"/>
<meta property="twitter:image" content="0"/>
<meta property="og:title" content="{{ display_name }}"/>
<meta property="og:description" content="{{ post_contents }}"/>
<meta property="og:site_name" content="FxMastodon"/>
<!-- <link rel="alternate" href="" type="application/json+oembed" title=""> -->
</head>
<body>
</body>
</html>
